.container {
    min-width: 350px;
}

#cicle-table {
    margin-bottom: 10px;
}

.modal-body > .row {
    margin-top: 5px;
    margin-left: 10px;
}

.iconAdd {
    color: var(--text-color);
    text-decoration: none;
}

.iconAdd:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

#cicle-table thead th {
    text-align: center;
    padding: 0.5rem 0.5rem;
}

#cicle-table tbody th,
#cicle-table tbody td {
    text-align: center;
    padding: 0;
}

#cicle-table tr th:nth-of-type(1),
#cicle-table tr td:nth-of-type(1) {
    width: 50%;
}

#cicle-table tr th:nth-of-type(2),
#cicle-table tr td:nth-of-type(2) {
    width: 50%;
    max-width: 198px;
}

#cicle-table tr th:nth-of-type(3),
#cicle-table tr td:nth-of-type(3) {
    max-width: 40px;
}

#cicle-table tbody a,
#cicle-table tbody span {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cicle-table tbody tr td {
    background-color: var(--background-color-1);
}

#cicle-table tbody tr:hover td {
    box-shadow: inset 0 0 0 9999px var(--table-hover);
}

#cicle-table tbody .iconBasura {
    text-decoration: none;
}

#cicle-table tbody .iconBasura:hover {
    cursor: pointer;
    color: red;
}

#cicle-table tbody td:last-child a {
    padding: 7px 8px;
}

#cicle-table thead th:last-child,
#cicle-table tbody td:last-child,
#filter-button,
#import-button {
    width: 40px;
}

@media screen and (min-width: 992px) {
    .filter-form div label {
        float: none;
        margin-left: -7px;
    }
}

@media screen and (max-width: 991px) {
    .filter-form div label {
        float: none;
        margin-left: 35px;
    }

    #filter-form .row {
        padding-right: 20px;
    }

    #filter-form .row .row {
        padding-right: 0px;
    }
}

.modal-content {
    min-width:245px
}

#nombreDelete {
    font-weight: bold;
    text-decoration: underline;
}