main{
    background-color: rgb(104, 104, 104);
}

h1{
    color: white;
}

.titulo h1 {
    margin: 0;
}

#profilename {
    overflow: hidden;
    text-overflow: ellipsis;
}

div .modal-content {
    background-color: transparent;
}

div .row {
    align-items: center;
}

.error {
    color: red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnTorna {
    padding-top: 20px;
    padding-left: 20px;
}

.btnTorna a {
    display: flex;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btnTorna a i {
    margin-right: 5px;
}

.btnTorna a:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
    text-decoration: underline;
}