.card{
    border: none !important;
}
.card .card-header{
    background-color: var(--background-color-1);
    color: var(--text-color);
    border-bottom-color: var(--text-color);

}
.card-body{
    background-color: var(--background-color-1);
}
label{
    color:var(--text-color);
}
.form-control, .form-select{
    margin: 5px;
    background-color: var(--background-color-2) !important;
    border-color: var(--background-color-4) !important;
    background-image: none !important;
    color: var(--text-color) !important;
}
#card-form-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}