#empresa-table thead th {
    text-align: center;
    padding: 0.5rem 0.5rem;
}
#empresa-table tbody th,
#empresa-table tbody td {
    text-align: center;
    padding: 0;
}
#empresa-table tbody a,
#empresa-table tbody span {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#empresa-table tbody td:nth-of-type(1) a,
#empresa-table tbody td:nth-of-type(2) a,
#empresa-table tbody td:nth-of-type(7) a {
    text-decoration: none;
}
#empresa-table tbody a:hover {
    display: block;
    color: white;
    text-decoration: underline;
    padding: 0.5rem 0.5rem;
}
#empresa-table tbody tr th,
#empresa-table tbody tr td {
    background-color: #212529;
}
#empresa-table tbody tr:hover th,
#empresa-table tbody tr:hover td {
    box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.20);
}