#empresa-table thead th {
    text-align: center;
    padding: 0.5rem 0.5rem;
}

#empresa-table tbody th,
#empresa-table tbody td {
    text-align: center;
    padding: 0;
    max-width: 250px;
}

#empresa-table tr td:nth-of-type(2) a,
#empresa-table tr td:nth-of-type(3) a {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#empresa-table tbody a,
#empresa-table tbody span {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#empresa-table tbody td:nth-of-type(1) a,
#empresa-table tbody td:nth-of-type(2) a,
#empresa-table tbody td:nth-of-type(7) a {
    text-decoration: none;
}

#empresa-table tbody a:hover {
    display: block;
    color: rgb(0, 132, 255);
    padding: 0.5rem 0.5rem;
}

#empresa-table tbody td:nth-of-type(1) a:hover,
#empresa-table tbody td:nth-of-type(2) a:hover,
#empresa-table tbody td:nth-of-type(7) a:hover {
    color: white;
}

#empresa-table tbody tr th,
#empresa-table tbody tr td {
    background-color: #212529;
}

#empresa-table tbody tr:hover th,
#empresa-table tbody tr:hover td {
    box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.2);
}

#empresa-table tbody td:last-child a {
    padding: 7px 8px;
}

table {
    text-align: center;
}

td a {
    text-decoration: none;
    color: white;
}

td a:hover {
    color: rgb(0, 132, 255);
}

.modal-body > .row {
    margin-top: 5px;
    margin-left: 10px;
}

@media screen and (max-width: 575px) {
    label {
        float: left;
    }
}

@media screen and (min-width: 576px) {
    label {
        float: right;
    }
}

#empresa-table tbody .iconBasura {
    text-decoration: none;
}

#empresa-table tbody .iconBasura:hover {
    cursor: pointer;
    color: red;
}

#empresa-table thead th:last-child,
#empresa-table tbody td:last-child,
#filter-button,
#import-button {
    width: 40px;
}

.iconBasura {
    text-decoration: none;
}

.iconBasura:hover {
    cursor: pointer;
    color: red;
}

.iconAdd {
    color: white;
    text-decoration: none;
}

.iconAdd:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

#filter {
    background-color: #212529;
    width: 95%;
    margin: auto;
}

#filter-header {
    border-bottom: 1px white solid;
    display: flex;
}

#filter-header div {
    width: 50%;
}

#filter-header div:nth-of-type(1) {
    text-align: left;
}

#filter-header div:nth-of-type(2) {
    text-align: right;
}

#filter-button,
#import-button {
    background-color: transparent;
    color: white;
    border: 0;
    padding: 0.5rem 0.5rem;
}

#filter-button:hover,
#import-button:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

.filter-form {
    box-shadow: inset 0 0 0 9999px #2c3034;
}

.filter-form .row {
    padding-top: 10px;
}

.filter-form label {
    float: left;
}

.filter-form #filter-form-button {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px;
    padding-right: 3.75%;
}

.filter-form-opened {
    animation: filter-opening 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: 1px white solid;
    max-height: 100vh;
}

.filter-form-closed-base {
    overflow-y: hidden;
    max-height: 0;
}

.filter-form-closed {
    animation: filter-opening 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    max-height: 0;
}

@keyframes filter-opening {
    0% {
        max-height: 0;
        overflow-y: hidden;
        border-bottom: 0 white solid;
    }
    99.99% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: visible;
        max-height: 100vh;
        border-bottom: 1px white solid;
    }
}
