.selectCheck {
    display: flex;
}

.multiselect {
    width: 220px;
    margin-right: 20px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    height: 75px;
    overflow: hidden;
    overflow-y: scroll;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#checkboxesSector {
    display: none;
    border: 1px #dadada solid;
    height: 75px;
    overflow: hidden;
    overflow-y: scroll;
}

#checkboxesSector label {
    display: block;
}

#checkboxesSector label:hover {
    background-color: #1e90ff;
}
#checkboxesPoblacio {
    display: none;
    border: 1px #dadada solid;
    height: 75px;
    overflow: hidden;
    overflow-y: scroll;
}

#checkboxesPoblacio label {
    display: block;
}

#checkboxesPoblacio label:hover {
    background-color: #1e90ff;
}

#filter-form-container label {
    color: var(--text-color) !important;
}

#filter-form-container input,
#filter-form-container select {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color) !important;
    background-color: var(--background-color-2) !important;
    border-color: var(--background-color-4) !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.filter-form {
    background-color: var(--background-color-1) !important;
}

.filter-form #filter-form-button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#filter {
    background-color: var(--background-color-1);
    width: 95%;
    margin: auto;
}

#filter-header {
    border-bottom: 1px var(--text-color) solid;
    display: flex;
}

#filter-header div {
    width: 50%;
}

#filter-header div:nth-of-type(1) {
    text-align: left;
}

#filter-header div:nth-of-type(2) {
    text-align: right;
}

#filter-button,
#import-button {
    background-color: transparent;
    color: var(--text-color);
    border: 0px;
    padding: 0.5rem 0.5rem;
}

#filter-button:hover,
#import-button:hover {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

.filter-form #filter-form-container {
    display: flex;
    height: fit-content;
}

.filter-form #filter-form-container div {
    width: 50%;
}

.filter-form-opened {
    animation: filter-opening 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: 1px var(--text-color) solid;
    max-height: 100vh;
}

.filter-form-closed-base {
    overflow-y: hidden;
    max-height: 0;
}

.filter-form-closed {
    animation: filter-opening 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    max-height: 0vh;
}

#filter-form div:nth-of-type(1){
    padding-top: 10px;
}

#filter-form div div {
    padding-top: 0px !important;
    display: flex;
}

#filter-form .form-control, #filter-form .form-select {
    display: inline-block !important;
    background-color: var(--background-color-2) !important;
    border-color: var(--background-color-4) !important;
    background-image: none !important;
    color: var(--text-color) !important;
}