table {
    text-align: center;
}

th a {
    color: white;
}

.modal-body > .row {
    margin-top: 5px;
    margin-left: 10px;
}

label,
p {
    color: black;
}

@media screen and (max-width: 575px) {
    label {
        float: left;
    }
}

@media screen and (min-width: 576px) {
    label {
        float: right;
    }
}

.col-form-label {
    white-space: nowrap;
}

table tbody td:last-child a {
    padding: 7px 8px;
}

.iconBasura {
    color: white;
}

.iconBasura:hover {
    cursor: pointer;
    color: red;
}
